*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Wordpress
wordpress/*

# SQL
sql/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.todo
webpackconfig.js
config.yaml
wp-database
*.sql
